<% if flash[:notice] %>
  <div class="alert-success alert-dismissible fade show text-center" role="alert">
    <strong><%= notice %></strong>
  </div>
<% else flash[:alert] %>
  <div class="alert-warning alert-dismissible fade show text-center" role="alert">
    <strong><%= alert %></strong>
  </div>
<% end %>