<footer class="bg-light text-lg-start rounded shadow-sm p-0 border-0 m-2">
  <div class="container-fluid text-center p-2">
    <span class="text-muted"><a target="_blank" href="https://github.com/bashforger/private-events"><i class="fab fa-github-square fa-2x"></i></a></span>
  </div>
</footer>