
<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top justify-content-between">
  <div><%= link_to 'LeEvents', root_path, class: 'navbar-brand py-2 px-3' %></div>
  <div>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarExample01"
      aria-controls="navbarExample01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse px-3" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%= navbar_links %>
      </ul>
    </div>
  </div>
</nav>