<section class="section">
  <div class="container-fluid">
      <div class="row">
        <%= render_index_events(@ongoing_events) %>
        <%= render_index_events(@upcoming_events) %>
        <%= render_index_events(@past_events) %>
      </div>
  </div>
</section>
